<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	<!-- CSS overrides - remove if you don't need it -->
	<link rel="stylesheet" href="css/app.css">
	<style>
	[v-cloak] {
		display: none;
	}
	.hide {
		display: none;
	}
	</style>
</head>

<body>
	<section class="todoapp" id="app" v-cloak>
		<header class="header">
			<h1>todos</h1>
			<input class="new-todo" 
						 placeholder="What needs to be done?" 
						 autofocus
						 v-model = "inputValue"
						 @keyup.enter = "keyUp">
		</header>
		<!-- This section should be hidden by default and shown when there are todos -->
		<section class="main">
			<input id="toggle-all" class="toggle-all" type="checkbox"
						 :checked = "all"
				 		 @click="AllClick"
				 		 >
			<label for="toggle-all">Mark all as complete</label>
			<ul class="todo-list">
				<!-- These are here just to show the structure of the list items -->
				<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
				<li :class="{completed:item.done,editing :item.id == editid,hide : item.done ==hides}" 
						v-for="(item,index) of list" > <!--v-show= "hide"-->
					<div class="view">
						<input class="toggle" type="checkbox" v-model="item.done">
						<label @dblclick="dblClick(item.id)">{{item.todoName}}</label>
						<button class="destroy" @click="delectClick(item.id)"></button>
					</div>
					<input class="edit" v-model="item.todoName" @keyup.enter = "enter">
				</li>
				<!-- <li>
						<div class="view">
							<input class="toggle" type="checkbox">
							<label>Buy a unicorn</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Rule the web">
					</li> -->
			</ul>
		</section>
		<!-- This footer should hidden by default and shown when there are todos -->
		<footer class="footer" v-show = "fun">
			<!-- This should be `0 items left` by default -->
			<span class="todo-count"><strong>{{num}}</strong> item left</span>
			<!-- Remove this if you don't implement routing -->
			<ul class="filters">
					<li>
						<a :class="{selected:index ==1}" href="#/" @click="allClick">All</a>
					</li>
					<li>
						<a  :class="{selected:index==2}" href="#/active" @click="activeClick">Active</a>
					</li>
					<li>
						<a :class="{selected:index==3}" href="#/completed" @click = "Completedclick">Completed</a>
					</li>
				</ul>
			<!-- Hidden if no completed items are left ↓ -->
			<button class="clear-completed" @click="Clearclick" v-show="clear" >Clear completed</button>
		</footer>
	</section>
	<script src="node_modules/todomvc-common/base.js"></script>
	<script src="./node_modules/vue/dist/vue.js"></script>
	<script src="js/app.js"></script>
</body>

</html>
